@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: monospace;
}

body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(https://res.cloudinary.com/dvqqmiwj1/image/upload/v1669363831/upj0oxuqgvw2qqpmocg8.gif);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
}

#overlay-toggle {
  position:absolute;
  display: none;
}

.overlay {
  z-index: 1;
  background-color: rgb(17, 17, 17);
}

.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}

.social {
  margin: 20px;
}

.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}

a {
  text-decoration:none;
  color:gray!important
}
a:hover {
  transition:.4s!important;
  color:rgb(255,255,255)!important
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}
#overlay-toggle {
  position:absolute;
  display: none;
}
.overlay {
  z-index: 1;
  background-color: rgb(17, 17, 17);
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.no-hover {
  display: block;
}
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.disclaimer{
    display:none;
}
.hover {
  display: none;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
body {
  font-family:monospace!important;
  background-color: rgb(17, 17, 17);
  color:#fff!important
}
a {
  text-decoration:none;
  color:gray!important
}
a:hover {
  transition:.4s!important;
  color:rgb(82, 135, 89)!important
}
.ascii {
  top:50%
}
#logo {
  left: 0%;
}
span::before {
  content:'\A';
  white-space:pre
}
#center {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%)
}
#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}
@media(hover: hover) {
  .hover {
    display: block;
  }
  .no-hover {
    display: none;
  }
}
@keyframes fade{
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}